/*
Theme Name: Astra Child
Theme URI: http://example.com/astra-child/
Description: Astra Child Theme
Author: LogicLeap
Author URI: http://example.com
Template: astra
Version: 1.0.0
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: astra-child
*/

/* Add your custom styles here */
